h1 {
    text-align: center;
    margin: 20px 0px;
}

.wanted-classes, .required-classes {
    margin: 20px 0px;
}

.dropdown-toggle {
    margin: 20px 0px;
}

.radio {
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
}

.pl {
    margin-left: 20px;
}