

h1 {
    text-align: center;
    margin: 20px 0px;
}

.wanted-classes, .required-classes {
    margin: 20px 0px;
}

.dropdown-toggle {
    margin: 20px 0px;
}

.radio {
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
}

.ml {
    margin-left: 20px;
}

.bigBtn {
    padding: 30px 150px ;
    font-size: 40px;
    font-weight: 600;
    
}

.vm {
    margin-top: 100px;
    margin-bottom: 100px;
}

.info {
    margin-top: 100px;
}